/* #facebook ._-kb div {
    font-family: inherit;
}
._8icy .login {
    padding-bottom: 24px;
    padding-top: 10px;
}
.form {
    text-align: center;
}
.login {
    align-items: center;
    background-color: #fff;
    border: none;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .1), 0 8px 16px rgba(0, 0, 0, .1);
    box-sizing: border-box;
    margin: 40px 0 0;
    padding: 20px 0 28px;
    width: 396px;
}
div {
    display: block;
    unicode-bidi: isolate;
}
body, button, input, label, select, td, textarea {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 12px;
}
body {
    background: #fff;
    color: #1c1e21;
    direction: ltr;
    line-height: 1.34;
    margin: 0;
    padding: 0;
    unicode-bidi: embed;
}

element.style {
}
form {
    margin: 0;
    padding: 0;
}
user agent stylesheet
form {
    display: block;
    margin-top: 0em;
    unicode-bidi: isolate;
}
#facebook ._-kb div {
    font-family: inherit;
}
._52jv {
    text-align: center;
}
body, button, input, label, select, td, textarea {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 12px;
}
body {
    background: #fff;
    color: #1c1e21;
    direction: ltr;
    line-height: 1.34;
    margin: 0;
    padding: 0;
    unicode-bidi: embed;
}

#facebook ._-kb div {
    font-family: inherit;
}
._8icy ._6lux {
    font-size: 17px;
    width: 364px;
}
._6lux {
    display: inline-block;
    font-size: 14px;
    margin: auto;
    padding: 6px 0;
    width: 302px;
}
user agent stylesheet
div {
    display: block;
    unicode-bidi: isolate;
}
._52jv {
    text-align: center;
}
body, button, input, label, select, td, textarea {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 12px;
}

body {
    background: #fff;
    color: #1c1e21;
    direction: ltr;
    line-height: 1.34;
} */