.frontpage{
    display: flex;
    /* flex-direction: row; */
}
.item1{
    width: 70%;
}

.item2{
    width: 28%;
    /* margin-top: 300px; */
}

@media (min-width: 300px) and (max-width: 768px) {
    .frontpage{
        display: block;
    }
}
