/* *{
    
    align-items: center;
} */
.anchor {
    margin-top: 0px !important;
    background: #e34d20;
    color: #ffffff;
    padding: 2px;
    border-radius: 7px;
    text-decoration: none;
}

.login {
    align-items: center;
    background-color: #fff;
    border: none;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .1), 0 8px 16px rgba(0, 0, 0, .1);
    box-sizing: border-box;
    padding: 20px 0 28px;
    width: 550px;
}

.register{
    text-decoration: none;
}

svg.google{width: 100px;}